# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [1]:
# import libraries
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy import create_engine

In [ ]:
# load messages dataset
messages = pd.read_csv('messages.csv')
messages.head()

   id  ...   genre
0   2  ...  direct
1   7  ...  direct
2   8  ...  direct
3   9  ...  direct
4  12  ...  direct

[5 rows x 4 columns]

In [ ]:
# load categories dataset
categories = pd.read_csv('categories.csv')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [ ]:
# merge datasets
df = pd.merge(messages,categories)
df.head()

   id  ...                                         categories
0   2  ...  related-1;request-0;offer-0;aid_related-0;medi...
1   7  ...  related-1;request-0;offer-0;aid_related-1;medi...
2   8  ...  related-1;request-0;offer-0;aid_related-0;medi...
3   9  ...  related-1;request-1;offer-0;aid_related-1;medi...
4  12  ...  related-1;request-0;offer-0;aid_related-0;medi...

[5 rows x 5 columns]

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [ ]:
# create a dataframe of the 36 individual category columns
categories_id = categories.id
categories_cat = categories.categories.str.split(';', expand=True)
##categories['id']=categories_id
categories.head()
listcategory = [str.split(category,'-')[0] for category in categories_cat.iloc[0]]
categories[listcategory]=categories.categories.str.split(';', expand=True)
categories.head()
#listcategory

   id  ...    direct_report
0   2  ...  direct_report-0
1   7  ...  direct_report-0
2   8  ...  direct_report-0
3   9  ...  direct_report-0
4  12  ...  direct_report-0

[5 rows x 38 columns]

In [ ]:
# select the first row of the categories dataframe
row = categories.iloc[0]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = categories.columns
print(category_colnames)

Index(['id', 'categories', 'related', 'request', 'offer', 'aid_related',
       'medical_help', 'medical_products', 'search_and_rescue', 'security',
       'military', 'child_alone', 'water', 'food', 'shelter', 'clothing',
       'money', 'missing_people', 'refugees', 'death', 'other_aid',
       'infrastructure_related', 'transport', 'buildings', 'electricity',
       'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure',
       'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold',
       'other_weather', 'direct_report'],
      dtype='object')

In [ ]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

   id  ...    direct_report
0   2  ...  direct_report-0
1   7  ...  direct_report-0
2   8  ...  direct_report-0
3   9  ...  direct_report-0
4  12  ...  direct_report-0

[5 rows x 38 columns]

In [ ]:
test_cat = categories.copy()
for column in test_cat:
  test_cat[column] = test_cat[column].replace(regex=['.*-'], value='')
  test_cat[column] = pd.to_numeric(test_cat[column])
print(test_cat.head())
print(test_cat.dtypes)

   id  categories  related  ...  cold  other_weather  direct_report
0   2           0        1  ...     0              0              0
1   7           0        1  ...     0              0              0
2   8           0        1  ...     0              0              0
3   9           0        1  ...     0              0              0
4  12           0        1  ...     0              0              0

[5 rows x 38 columns]
id                        int64
categories                int64
related                   int64
request                   int64
offer                     int64
aid_related               int64
medical_help              int64
medical_products          int64
search_and_rescue         int64
security                  int64
military                  int64
child_alone               int64
water                     int64
food                      int64
shelter                   int64
clothing                  int64
money                     int64
missing_people            int64
refugees                  int64
death                     int64
other_aid                 int64
infrastructure_related    int64
transport                 int64
buildings                 int64
electricity               int64
tools                     int64
hospitals                 int64
shops                     int64
aid_centers               int64
other_infrastructure      int64
weather_related           int64
floods                    int64
storm                     int64
fire                      int64
earthquake                int64
cold                      int64
other_weather             int64
direct_report             int64
dtype: object

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [ ]:
#categories = categories.drop(['id','categories'])
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].replace(regex=['.*-'], value='')
    
    # convert column from string to numeric
    categories[column] = pd.to_numeric(categories[column])
categories.head()

   id  categories  related  ...  cold  other_weather  direct_report
0   2           0        1  ...     0              0              0
1   7           0        1  ...     0              0              0
2   8           0        1  ...     0              0              0
3   9           0        1  ...     0              0              0
4  12           0        1  ...     0              0              0

[5 rows x 38 columns]

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [ ]:
# drop the original categories column from `df`
categories = categories.drop(columns=['categories'])
df = df.drop(columns=['categories'])
df.head()

   id  ...   genre
0   2  ...  direct
1   7  ...  direct
2   8  ...  direct
3   9  ...  direct
4  12  ...  direct

[5 rows x 4 columns]

In [ ]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.merge(df, categories, how='inner', on='id')
df.head()

   id  ... direct_report
0   2  ...             0
1   7  ...             0
2   8  ...             0
3   9  ...             0
4  12  ...             0

[5 rows x 40 columns]

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [ ]:
# check number of duplicates
pd.set_option('display.max_rows', 30)
df.pivot_table(columns=['original'], aggfunc='size')

original
                             a                                                                                                1
                           a                                                                                                  1
                          !   a                                                                                               1
                    a                                                                                                         1
              SE TALUQ RAKHTA            3     a                                                                              1
                                                                                                                             ..
zn nazon, comcel ak delma 30 poko janmen ka jwenn distribisyon, tanpri voye jwen nan zon sa yo. mesi pou tout mesaj sa yo.    1
zone kafou new york bezwen tant                                                                                               4
zwen e koman demache la ye. mesi pou konprehansyon nou. map tann repon nou                                                    1
zwen medikal nouriti dlo avan mwen te abite matisan site letenel                                                              1
zwen. moun kap bay ed yo pa voye je ditou b isit la. lm al promennen gade kif mwen w tout zon andikape sayo                   1
Length: 9630, dtype: int64

In [ ]:
# drop duplicates
dfohnedup = df.drop_duplicates(keep = 'first')

In [ ]:
# check number of duplicates
df.shape[0]-dfohnedup.shape[0]

452

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [ ]:
engine = create_engine('sqlite:///InsertDatabaseName.db')
dfohnedup.to_sql('InsertTableName', engine, index=False)

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.